@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 60px;
    padding-bottom: 20px;
    color: rgb(105, 105, 105);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 20px;
    color: rgb(53, 53, 53);
}

.header-container{
    background-image: url(../img/th_web_hawk.jpg);
    padding: 20% 20% 13% 20%;
}

.background-img{
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.header-nav{
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 14px !important;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    padding: 10px 0px;
    top: 0;
    left: 0;
    right: 0;
}

.header-nav-logo{
    background-size: contain;
    height: 100%;
    max-height: 50px;
    padding-left: 16px;
    overflow: hidden;
    cursor: pointer;
}

.header-nav ul {
    margin-right: 16px;
}

.header-nav li{
    display: inline-block;
    cursor: pointer;
    padding: 16px;
    align-content: center;
    transition: all 0.3s ease 0s;
    border: none;
    border-radius: 10px;
}

.header-nav li a{
    color: white;
    text-decoration: none;
}

.header-large-logo{
    max-width: 100%;
    display: block;
    
}

.header-nav li:hover {
    background-color: rgb(112, 128, 144, 0.5);
}

.main-contents{    
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    
    margin-top: 40px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 3%;
    color: rgb(32, 32, 32);
}

.main-contents p {
    padding: 0% 7%;
    line-height: 150%;
}

.main-contents ol {
    align-self: flex-start;
    padding: 2% 0% 2% 13%;
}