@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --white: #ffffff;
    --grey5: #c0c0c0;
    --default-border-radius: 5px;



    --default-dropdown-height: 30px;
    --default-dropdown-padding: 3px 8px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.default-label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    color: var(--white);
    border-top-right-radius: 20% 100%;
    border-bottom-right-radius: 20% 100%;
    border-top-left-radius: 20% 100%;
    border-bottom-left-radius: 20% 100%;
    background-color: var(--grey5);
    margin: 2px 5px;
    padding: 2px 4px;
}

.material-icons-outlined {
    display: flex!important;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-container {
    --dropdown-container-width: 350px;

    min-width: var(--dropdown-container-width);
    max-width: calc(var(--dropdown-container-width) + 100px);
    /* max-width: var(--dropdown-container-width); */
}

.dropdown-title { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dropdown-textbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--default-dropdown-height);
    background-color: var(--grey5);
    border-radius: var(--default-border-radius);
    padding: var(--default-dropdown-padding);

    user-select: none;
}

.dropdown-textbox #dropdown-expand-collapse::before {
    content: "expand_more";
}

#dropdown-checkbox { 
    appearance: none;
}

#dropdown-checkbox:checked ~ .dropdown-choices-container{
    max-height: 150px;
    padding: 5px 8px;
    margin-top: 2px;
    overflow-y: auto;
}

#dropdown-checkbox:checked ~ .dropdown-textbox #dropdown-expand-collapse::before {
    content: "expand_less";
}

#dropdown-checkbox:checked ~ .dropdown-textbox #dropdown-manage-label-btn .material-icons-outlined::before {
    content: "add";
}

.material-icons-outlined {
    cursor: pointer;
}

.dropdown-header-btns {
    display: flex;
    flex-direction: row;
}

.create-new-label-container {
    max-height: 0;
    overflow: hidden;
}

.create-new-label-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 40px;
    background-color: var(--grey5);
    border-radius: var(--default-border-radius);
}

.create-new-label-form input,
.create-new-label-form input:focus {
    min-height: 24px;
    margin: 5px;
    border-radius: var(--default-border-radius);
    border: none;
    outline: none;
    padding: 0px 5px
}

#create-new-label-color {
    max-width: 70px;
}

.dropdown-choices-container {
    max-height: 0px;
    padding: 0px 8px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    width: inherit;
    border-radius: var(--default-border-radius);
}

.dropdown-choices {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: var(--grey5);
    border-radius: inherit;
    padding: inherit;
    user-select: none;
    overflow-y:auto;
}

.dropdown-item {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.dropdown-item .dropdown-item-edit {
    /* opacity: 0; */
    opacity: .5;
    font-size: 18px
}

.dropdown-choice-label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding-left: 5px;
}

#dropdown-manage-label-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#dropdown-manage-label-btn:after {
    content:"Manage Labels";
    position: relative;
    opacity: 0;
    max-width: 0px;
    white-space: nowrap;
    overflow: hidden;
    transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s;
}

#dropdown-manage-label-btn:hover:after {
    opacity: 1;
    max-width: 200px;
}

#manage-labels-checkbox {
    position: absolute;
    appearance: none;
}

#manage-labels-checkbox:checked + .create-new-label-container{
    max-height: 40px;
    margin: 2px 0px;
    transition: max-height 0.3s ease-out .1s;
}



